.edital_sec {
    display: flex;
    height: 1200px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(175deg, #ea1538, #3586ff);
}

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    border: 2px solid white;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    align-items: left;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.img_titulo {
    display: flex;
    max-width: 600px;
    max-height: 400px;
    align-items: center;
    justify-content: center;
}

.img_titulo img {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-top: 15px;
}

.container .Title2 {
    padding-top: 10px;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #ea1538, #3586ff);
}

.container .title_Secundario {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

.container .informacoes {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.container .informacoes p {
    padding-top: 5px;
    font-size: 15px;
    font-weight: 500;
}



form .button {
    display: flex;
    padding-top: 20px;
}

form .button input{
    height: 40px;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(175deg, #ea1538, #3586ff);
    transition: all 0.5s ease;
}

form .button input:hover{
    background: linear-gradient(135deg, #ea1538, #3586ff);
    cursor: pointer;
    transform: translateY(-5px);
}

