*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }

:root {
    --secound-bg-color: rgb(234, 21, 56);
    --text-color: white;
    --seconund-color: rgb(234, 21, 56);
    --big-font: 5.7rem;
    --h2-font: 3.8rem;
    --p-font: 1rem;
  }

  header {
    position: sticky;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px 6%;
    border-bottom: 2px solid rgba(234, 21, 56, 0.6) ;
  }

  .logo {
    font-size: 1.9rem;
    font-weight: 600;
    color: black;
  }
  
  span {
    color: var(--seconund-color);
  }
  
  .navlist {
    display: flex;
  
  }
  
  .navlist li {
    position: relative;
  }
  
  .navlist a {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
  }
  
  .navlist a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--seconund-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
  }
  
  .navlist a:hover::after {
    width: 60%;
  }
  
  #menu-icon {
    font-size: 26px;
    color: black;
    cursor: pointer;
    z-index: 10001;
    display: none;
  }

  /*menu normal*/
  .h-btn a{
    color: var(--text-color);
    font-weight: 500;
    padding: 8px 26px;
    border: 2px solid transparent;
    transition: ease .40s;
  }
  
  .h-btn .sign-in {
    color: var(--text-color);
    background: var(--seconund-color);
    border-radius: 30px;
  }
  
  .h-btn .sign-in:hover {
    background: transparent;
    border-radius: 2px solid var(--seconund-color);
  }

  /*menu logado*/

  .navDireita{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color: white;
  }
  
@media (max-width: 1380px) {
    header{
      padding: 18px 2%;
      transition: .2s;
    }
    :root{
      --big-font: 4.7rem;
      --h2-font: 2.5rem;
    }
}

@media (max-width: 1120px) {
    header {
      padding: 14px 2%;
    }
    #menu-icon{
      display: block;
    }
  
    .navlist {
      position: absolute;
      top: -600px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: rgb(253, 253, 253, 1);
      text-align: left;
      transition: all .35s ease;
    }
    .navlist a {
      display: block;
      padding: 1rem;
      margin: 1.2rem;
      border-left: 2px solid var(--seconund-color);
    }
    .navlist a:hover {
      background: rgba(224, 210, 210, 0.6);
      color: black;
      border: none;
    }
    .navlist a::after {
      display: none;
    }
    .navlist.active {
      top: 100%;
    }
}

  
@media (max-width: 770px) {
    header {
      padding: 14px 4%;
    }
    :root{
      --big-font: 3.2rem;
      --h2-font: 1.8rem;
      --p-font: 0.9rem;
    }

    .navDireita {
      margin-right: 15px;
    }
    .navDireita p {
      display: none;
    }
}

@media (max-width: 750px) {
    header {
      padding: 14px 4%;
    }
    :root{
      --big-font: 3.2rem;
      --h2-font: 1.8rem;
      --p-font: 0.9rem;
    }

    .navDireita {
      margin-right: 15px;
    }
    .navDireita p {
      display: none;
    }
}

@media (max-width: 630px) {

  
    header {
      padding: 14px 4%;
    }
    :root{
      --big-font: 3.2rem;
      --h2-font: 1.8rem;
      --p-font: 0.9rem;
    }

    .navDireita {
      margin-right: 15px;
    }
    .navDireita p {
      display: none;
    }
    
  }